mixin head

	doctype html
	+signature()
	<!--[if IE 7]><html data-ie="ie7" lang="en"><![endif]-->
	<!--[if IE 8]><html data-ie="ie8" lang="en"><![endif]-->
	<!--[if IE 9]><html data-ie="ie9" lang="en"><![endif]-->
	<!--[if !IE]><!-->
	html(lang="en")
		<!--<![endif]-->
		head
			meta(charset='UTF-8')
			meta(http-equiv='Content-Language', content='en')
			meta(name='author', content=index.author)
			title=index.title
			if (production)
				meta(name='description', content=index.description)
				meta(http-equiv="Keywords" content=index.keywords)
				//- Makes sure your website shows up in all countries and languages
				meta(name="coverage", content="Worldwide")
				//- Does the same as the coverage tag
				meta(name="distribution", content="Global")
				//- Very short sentence describing the purpose of the website
				if index.abstract
					meta(name="abstract", content=index.abstract)
				//- Describes the topic of the website
				if index.topic
					meta(name="topic", content=index.topic)
				//- Brief summary of the company or purpose of the website
				if index.summary
					meta(name="summary", content=index.summary)

			if( staging )
				meta(name="robots", content="noindex, nofollow")


			//- setting for mobiles
			meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale = 1.0, maximum-scale = 1.0', id='meta-viewport')
			meta(name='apple-mobile-web-app-capable', content='yes')
			meta(name='apple-mobile-web-app-status-bar-style', content='black')

			//- Meta things and share icons

			if (production)
				+openGraph(title,url,description)
				+twitterMeta(title,url,description)
			+altFavicons

			//- meta(name="google", content="notranslate")

			if (production || staging)

				//- CSS
				//- Inline
				link(rel='stylesheet', href='#{assets}/css/min/index.css?__inline=true')
				//- Loaded
				//- link(rel='stylesheet', href='#{assets}/css/min/index.css' +cachebust)

				//- HTML5 SHIV, if necessary
				<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
				//- Make main work for IE
				script.
					document.createElement('main');
				
				//- JQUERY
				<!--[if lte IE 9]>
				<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
				<script>window.jQuery || document.write('<script src="/jquery/jquery_1.js"><\/script>')</script>
				<![endif]-->

				<!--[if !IE]><!-->
				script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
				script.
					window.jQuery || document.write('<script src="/jquery/jquery_3.js"><\/script>');
				<!--<![endif]-->

			else
				link(rel='stylesheet', href='#{assets}/css/mouse/index.css' +cachebust)
				script(src="#{assets}/jquery/jquery_3.js")
			

			//- SET asset path variable
			script.
				var assetPath = window.assetPath = '#{assets}';

			if (production || staging)
				script.
					//- environment variable
					var isDev = window.isDev = false;
				script(src='#{assets}/js/min/scripts.js' +cachebust)
			else
				script.
					//- environment variable
					var isDev = window.isDev = true;
				script(src='#{assets}/js/plugins.js' +cachebust)
				script(src='#{assets}/js/mouse/scripts.js' +cachebust)

			if (production || staging)
				+googleAnalytics( 'XXXXXX' )