include /_partials/head.jade
include /_partials/utils.jade
include /_partials/mixins.jade

//- Global template vars
- var time = new Date();
- var cachebust = '?'+time.getHours()+''+time.getDate();
- var root = production ? '' : '/dev';
- var bodyClass = !production ? 'is-dev' : 'not-dev';

//- Where everything in the head lives LOL
+head()

body(class=bodyClass)
	div#wrapper
		block content
		if (!production && !staging)
			+liveReload()
			+browserSync()
	div#mobileTester
	div#tabletTester