- var time = new Date();
- var cachebust = '?'+time.getHours()+''+time.getDate();

//- Google Analytics
mixin googleAnalytics( id )
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '#{id}', 'auto');
		ga('require', 'autotrack');
		ga('send', 'pageview');
	script(async src="//cdnjs.cloudflare.com/ajax/libs/autotrack/0.6.5/autotrack.js")



//- Live Reload
mixin liveReload(port)
	script(src="http://127.0.0.1:35729/livereload.js")

//- browserWatch
mixin browserSync(port)
	script.
		//<![CDATA[
		document.write("<script async src='http://HOST:4001/browser-sync/browser-sync-client.2.7.13.js'><\/script>".replace("HOST", location.hostname));
		//]]>


mixin openGraph( title, url, description, shareImage )
	- title = title || index.title;
	- url = url || index.siteUrl;
	- description = description || index.description;
	- shareImage = shareImage || '/gfx/meta/og_share.jpg' + cachebust;
	- twitterHandle = twitterHandle || index.twitterHandle;

	- shareImage = url + shareImage;

	meta(name='application-name', content=title)
	meta(property='og:title', content=title)
	meta(property='og:type', content='website')
	meta(property='og:url', content=url)
	meta(property='og:image', content=shareImage)
	meta(property='og:description', content=description)

mixin twitterMeta( title, url, description, shareImage, twitterHandle )
	- title = title || index.title;
	- url = url || index.siteUrl;
	- description = description || index.description;
	- shareImage = shareImage || '/gfx/meta/og_share.jpg' + cachebust;
	- twitterHandle = twitterHandle || index.twitterHandle;

	- shareImage = url + shareImage;

	meta(name='twitter:card', content='summary')
	//- meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:title', content=title)
	meta(name='twitter:url', content=url)
	meta(name='twitter:description', content=description)
	meta(name='twitter:site', content=twitterHandle)
	meta(name='twitter:creator', content=twitterHandle)
	meta(name='twitter:image', content=shareImage)


mixin altFavicons

	if ( production )
		link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico?v3' + cachebust)
	else
		link(rel='shortcut icon', type='image/x-icon', href='/public/favicon.ico?v3' + cachebust)

	link(rel='apple-touch-icon-precomposed', sizes='180x180', href='#{assets}/gfx/meta/Icon-60@3x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='152x152', href='#{assets}/gfx/meta/Icon-76@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='144x144', href='#{assets}/gfx/meta/Icon-72@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='120x120', href='#{assets}/gfx/meta/Icon-60@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='120x120', href='#{assets}/gfx/meta/Icon-Small-40@3x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='114x114', href='#{assets}/gfx/meta/Icon@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='100x100', href='#{assets}/gfx/meta/Icon-Small-50@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='87x87', href='#{assets}/gfx/meta/Icon-Small@3x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='80x80', href='#{assets}/gfx/meta/Icon-Small-40@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='76x76', href='#{assets}/gfx/meta/Icon-76.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='72x72', href='#{assets}/gfx/meta/Icon-72.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='60x60', href='#{assets}/gfx/meta/Icon-60.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='58x58', href='#{assets}/gfx/meta/Icon-Small@2x.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='57x57', href='#{assets}/gfx/meta/Icon.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='50x50', href='#{assets}/gfx/meta/Icon-Small-50.png' + cachebust)
	link(rel='apple-touch-icon-precomposed', sizes='29x29', href='#{assets}/gfx/meta/Icon-Small.png' + cachebust)

	meta(name='msapplication-TileColor', content='#ffffff')
	meta(name='msapplication-TileImage', content='#{assets}/gfx/meta/Icon-72@2x.png' + cachebust)